body {
   text-align: center;
}

img {
	width: 350px;
	height: 350px;
}

p {
    font-size: 1.5em;
}

button {
    width: 100px;
    height: 50px;
	background-color: red;
	color: white;
    
}

.row {
	padding-bottom: 10px;
}

.box {
    display: inline-block;
}
